extends ../layout/index

block contenido 
    div.py-10 
        h1.text-center.font-extrabold.my-10.text-4xl.text-white Bienes 
            span.font-normal.text-black Raíces 
        h2.text-center.font-extrabold.text-2xl=page
        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5.px-6(action="")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold Correo Electronico: 
                        input#email.w-full.px-3.py-2.border.border-palePurple.rounded-md.placeholder-gray-400(type="email" placeholder="Ej. JuanitoPeréz@gmail.com" name="correo_usuario")
                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/login" class="hover:underline decoration2 hover:decoration-peri") ¿Ya tienes cuenta?Ingresa a la plataforma
                    input(class="w-full bg-palePurple hover:bg-white text-black font-bold py-3 cursor-pointer" type="submit" value="Recuperar Contraseña")